{% extends 'layout.html' %}

{% block title %}login page{% endblock %}

{% block content %}
<div class="box">
    <h4 class="form-header">login page</h4>

    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        <table>
            {{ form }}
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-primary btn-block">Log in</button></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
